@model JKL_Healthcare_Services.Models.CaregiverAssignment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CaregiverAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssignmentId" />
            <div class="form-group">
                <label asp-for="CaregiverId" class="control-label"></label>
                <select asp-for="CaregiverId" class="form-control" asp-items="ViewBag.CaregiverId"></select>
                <span asp-validation-for="CaregiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentNotes" class="control-label"></label>
                <input asp-for="AssignmentNotes" class="form-control" />
                <span asp-validation-for="AssignmentNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

